
<!DOCTYPE html>
<html style="font-size: 16px;">

  <body data-home-page="About.html" data-home-page-title="About" class="u-body">
    <section src="" id="carousel_681f" data-image-width="1980" data-image-height="1237">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
        <div class="u-align-left u-container-style u-group u-white u-group-1 m-5">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h1 class="u-custom-font u-font-ubuntu u-text u-text-1">Registrate</h1>
            <h5>Registra por primera ves tu email en SillonesFB</h5>
            <div class="u-expanded-width u-form u-form-1">
              <form action="#" method="POST" class="u-clearfix u-form-spacing-27 u-form-vertical u-inner-form" style="padding: 0px;" source="custom" name="form">
                <div class="u-form-email u-form-group u-form-group-2">
                  <label for="email-cd2c" class="u-form-control-hidden u-label"></label>
                  <input type="email" id="email-cd2c" placeholder="Ingresa tu e-mail" name="email" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white u-input-2" required="" placeholder="email">
                </div>
                <div class="u-form-group u-form-name u-form-group-1">
                  <label for="name-30a4" class="u-form-control-hidden u-label">Name</label>
                  <input type="password" placeholder="Ingresa tu clave" id="name-30a4" name="name" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white u-input-1" required="">
                </div>
                <div class="u-align-left u-form-group u-form-submit u-form-group-3">
                  <a href="#" class="u-active-grey-75 u-black u-border-1 u-border-active-grey-75 u-border-black u-border-hover-grey-75 u-btn u-btn-submit u-button-style u-hover-grey-75 u-btn-1">Registrarse</a>
                  <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                  <p>ya tienes una cuenta? As <a href="/admin/login">click aqui</a> para iniciar sesion</p>        
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    

  </body>
</html>