<!DOCTYPE html>
<title>Contactos</title>
<html style="font-size: 16px;">
  <body data-home-page="Casa.html" data-home-page-title="Casa" class="u-body">
    <section class="u-align-center u-clearfix u-section-1" id="carousel_e64f">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-gutter-40 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-33 u-layout-cell-1">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                  <h6 class="u-text-palette-3-base u-text-4 u-text-6">Contactanos</h6>

                  <div class="u-expanded-width u-form u-form-1">
                    <form action="/contactos" method="post">
                      <div class="u-form-group u-form-name">
                        <label for="name-daf4" class="u-label">Nombre</label>
                        <input type="text" placeholder="Ingrese su nombre" id="name" name="name" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" required="">
                      </div>
                      <div class="u-form-group u-form-name">
                        <label for="name-daf4" class="u-label">Correo electronico</label>
                        <input type="text" placeholder="Ingrese su E-mail" id="email" name="email" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" required="">
                      </div> 
                      <div class="u-form-group u-form-name">
                        <label for="name-daf4" class="u-label">Numero telefonico</label>
                        <input type="tel" placeholder="Telefono" id="tel" name="tel" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" required="">
                      </div>
                      <div class="u-form-group u-form-name">
                        <label for="name-daf4" class="u-label">Escriba aqui su mensaje</label>
                        <textarea name="message" id="" cols="30" rows="10" class="u-border-2 u-border-black u-border-no-left u-border-no-right u-border-no-top u-input u-input-rectangle u-white" required="" placeholder="Ingrese aqui su mensaje"></textarea>     
                      </div>          
                          <button type="submit" class="btn btn-dark m-5">Enviar</button>               
                    </form> 
                          {{mensaje}}        
                  </div>
                </div>
              </div>

              <div class="u-align-center u-container-style u-grey-5 u-layout-cell u-size-27 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h6 class="u-text-6 u-text-palette-3-base u-text-4">Llamanos</h6>
                  <p class="">1 (234) 567-891<br>1 (234) 987-654</p>
                  <h6 class="u-text-6 u-text-palette-3-base u-text-4">Ubicacion</h6>
                  <p class="">121 Rock Sreet, 21 Avenue,<br>New York, NY 92103-9000</p>
                  <h6 class="u-text-6 u-text-palette-3-base u-text-4">HORARIOS</h6>
                   <p class="">Lunes – Viernes de 11 am – 8 pm</p>
                   <p class="">Sabados de 11 am – 4 pm</p>
                </div>
              </div>

     
             
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>