
<!DOCTYPE html>
<title>ERROR 404</title>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="​Get 20% off your first order">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>About</title>
    <link rel="stylesheet" href="nicepage.css" media="screen">
<link rel="stylesheet" href="About.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 3.26.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="About"
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="About.html" data-home-page-title="About" class="u-body"><header class="u-clearfix u-header u-header" id="sec-0520"><div class="u-clearfix u-sheet u-sheet-1"></div></header>
    <section class="u-clearfix u-valign-middle u-section-1" id="carousel_ba84">
      <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-align-center u-container-style u-image u-layout-cell u-right-cell u-size-36-md u-size-36-sm u-size-36-xs u-size-38-lg u-size-38-xl u-size-xs-60" src="" data-image-width="1200" data-image-height="788">
              <div class="u-container-layout u-valign-bottom u-container-layout-1" src=""></div>
            </div> <img src="/images/404pagenotfound.jpg" alt="Page not found">
            <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-22-lg u-size-22-xl u-size-24-md u-size-24-sm u-size-24-xs u-size-xs-60 u-white u-layout-cell-2" src="">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-text u-text-1">Página no encontrada<br>
                </h2>
                <p class="u-text u-text-3">¡¡UPSS...!!,Tubimos un problema al momento de cargar la pagina que buscabas. Busquemos un lugar mejor para ir.</p>
                
                <a href="/" class="u-active-grey-75 u-black u-border-none u-btn u-btn-round u-button-style u-hover-grey-75 u-radius-8 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-2">
                <span class="u-icon u-icon-1">
                 
                </span>&nbsp;VOLVER A INICIO
                </a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    
  
  </body>
</html>
{{!-- <!DOCTYPE html>
<html style="font-size: 16px;">
  <body data-home-page="Casa.html" data-home-page-title="Casa" class="u-body">
    <section class="u-align-center u-clearfix u-section-1" id="carousel_e64f">
              <div class="u-align-center u-container-style u-grey-5 u-layout-cell u-size-27 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h6>Página no encontrada</h6>
                        <p>Buscamos alto y bajo, pero no pudimos encontrar lo que buscaba. Busquemos un lugar mejor para ir.</p>
                            <img src="/images/404pagenotfound.jpg" alt="Page not found">
                           <div class="u-align-center u-form-group u-form-submit">
                                <a href="/" class=" u-btn  u-btn-submit u-button-style u-hover-palette-1-light-1 u-palette-4-base u-radius-12 u-btn-5">VOLVER AL INICIO</a>
                            </div>             
                </div>
              </div>
    </section>
  </body>
</html> --}}



